In [1]:
from sklearn.datasets import load_boston
boston = load_boston()

In [2]:
boston.data.shape

(506, 13)

In [3]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [4]:
print(boston.DESCR)

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [9]:
import pandas as pd

data = pd.DataFrame(boston.data)
data.columns = boston.feature_names

In [10]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
data['PRICE'] = boston.target

In [12]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
PRICE      506 non-null float64
dtypes: float64(14)
memory usage: 55.4 KB

In [15]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/2e/bd/ad3a963b630fa3ee72d1a672fd207263fa0a18113688273afe8298293535/xgboost-0.82.tar.gz (665kB)
    100% |████████████████████████████████| 675kB 11.4MB/s ta 0:00:01
Requirement already satisfied: numpy in /Users/myhome/anaconda3/lib/python3.6/site-packages (from xgboost) (1.14.3)
Requirement already satisfied: scipy in /Users/myhome/anaconda3/lib/python3.6/site-packages (from xgboost) (1.1.0)
Building wheels for collected packages: xgboost
  Building wheel for xgboost (setup.py) ... done
  Stored in directory: /Users/myhome/Library/Caches/pip/wheels/5d/ea/e9/4aef52d7294badf6bc26728a73d3e001c38e07f7dc3722c5eb
Successfully built xgboost
Installing collected packages: xgboost
Successfully installed xgboost-0.82

In [16]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import numpy as np

In [17]:
X, y = data.iloc[:,:-1], data.iloc[:, -1]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## XGBoost Regressor

In [22]:
xgbReg = xgb.XGBRegressor(colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [23]:
xgbReg.fit(X_train, y_train)

/Users/myhome/anaconda3/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.3, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=10, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [24]:
preds = xgbReg.predict(X_test)

In [33]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
rmse

10.477501277138575

In [31]:
preds

array([16.416504 , 15.288402 , 15.40277  ,  7.5854654, 16.158283 ,
       13.248349 , 13.583905 , 14.079936 , 13.6875   , 12.947546 ,
        6.5603213,  9.935375 , 11.130716 ,  6.8418903, 23.274654 ,
       18.576324 , 13.355228 , 20.620237 , 16.972467 , 13.992393 ,
       14.690847 , 14.482995 , 13.953527 , 18.09723  , 14.885875 ,
       11.712655 , 13.805153 , 11.466836 , 22.040037 , 13.585514 ,
       11.695089 , 11.714294 , 14.502585 , 15.772829 , 15.69053  ,
       12.813594 ,  7.4318686, 10.754903 , 10.859407 , 11.940809 ,
       14.722574 , 14.885875 , 14.769595 , 11.398776 , 14.118277 ,
       15.756872 , 13.182733 , 12.245053 , 12.444734 , 14.649482 ,
       11.270577 , 13.719035 , 16.417236 , 21.939453 , 11.188875 ,
       14.266772 , 15.223721 , 13.597852 , 10.027374 , 14.411145 ,
       17.237263 , 13.97853  , 19.334175 , 20.774992 , 12.078456 ,
       19.638557 , 11.235481 , 13.9025345,  9.93484  , 14.39366  ,
       15.837189 , 16.158283 , 16.702122 , 19.436821 , 14.669511 ,
        7.5854654, 22.803299 , 14.654109 , 16.40112  , 13.759707 ,
       18.77878  , 13.114884 , 10.905324 , 22.803299 , 21.350424 ,
       15.346667 , 15.359458 , 11.034375 , 14.224049 ,  9.974085 ,
       14.64038  ,  8.83095  , 16.714436 , 17.699837 , 14.957293 ,
       15.333373 ,  7.7630014, 17.207558 ,  9.974745 , 13.743488 ,
       14.651952 , 13.561546 ], dtype=float32)

In [32]:
y_test

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
15     19.9
487    20.6
340    18.7
310    16.1
102    18.6
418     8.8
411    17.2
446    14.9
386    10.5
162    50.0
299    29.0
480    23.0
196    33.3
175    29.4
37     21.0
320    23.8
171    19.1
107    20.4
278    29.1
45     19.3
367    23.1
21     19.6
153    19.4
97     38.7
113    18.7
       ...
65     23.5
344    31.2
481    23.7
387     7.4
233    48.3
206    24.4
90     22.6
497    18.3
239    23.3
137    17.1
407    27.9
224    44.8
225    50.0
326    23.0
96     21.4
426    10.2
159    23.3
391    23.2
54     18.9
435    13.4
254    21.9
300    24.8
505    11.9
246    24.3
374    13.8
56     24.7
455    14.1
60     18.7
213    28.1
108    19.8
Name: PRICE, Length: 102, dtype: float64

## XGBoost Classifier

In [36]:
from sklearn.datasets import load_iris
iris = load_iris()

In [37]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
import numpy as np
Xtr, Xte, ytr, yte = train_test_split(iris.data, iris.target, random_state = 0, stratify = iris.target)

In [48]:
xgbClf = xgb.XGBClassifier(colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [49]:
xgbClf.fit(Xtr, ytr)

XGBClassifier(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.3, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [50]:
pred = xgbClf.predict(Xte)
predpred

/Users/myhome/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0, 0, 0, 0, 1, 1, 1, 0, 1, 2, 2, 2, 1, 2, 1, 0, 0, 2, 0, 1, 2, 1,
       1, 0, 1, 0, 0, 1, 2, 1, 0, 1, 2, 2, 0, 1, 2, 2])

In [51]:
xgbClf.score(Xte, yte)

/Users/myhome/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.9736842105263158