# Heart

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Data Load

In [2]:
df1 = pd.read_csv('data/heart.csv')
df2 = pd.read_csv('data/heart2.csv')

print(df1.head(10))
print(df2.head(10))

      id   age  sex  trestbps  restecg  exang  ca  thal  target
0  10001  63.0    1       145        0    0.0   0     1       1
1  10002  37.0    1       130        1    0.0   0     2       1
2  10003  41.0    0       130        0    0.0   0     2       1
3  10004  56.0    1       120        1    0.0   0     2       1
4  10005  57.0    0       120        1    1.0   0     2       1
5  10006  57.0    1       140        1    0.0   0     1       1
6  10007  56.0    0       140        0    0.0   0     2       1
7  10008  44.0    1       120        1    0.0   0     3       1
8  10009  52.0    1       172        1    0.0   0     3       1
9  10010  57.0    1       150        1    0.0   0     2       1
   id  id_2     cp  chol  fbs  thalach  oldpeak  slope
0  10     1  three   233    1    150.0      2.3      0
1  10     2      2   250    0    187.0      3.5      0
2  10     3      1   204    0    172.0      1.4      2
3  10     4      1   236    0    178.0      0.8      2
4  10     5      0   354    0    163.0      0.6      2
5  10     6      0   192    0    148.0      0.4      1
6  10     7      1   294    0    153.0      1.3      1
7  10     8      1   263    0    173.0      0.0      2
8  10     9      2   199    1    162.0      0.5      2
9  10    10      2   168    0    174.0      1.6      2

## pre-processing

#### heart2.csv ID 처리

In [3]:
for i in range(len(df2['id'])) : 
    df2['id'][i] = df2['id_2'][i] + 10000
    
df2.head(20)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       id  id_2     cp  chol  fbs  thalach  oldpeak  slope
0   10001     1  three   233    1    150.0      2.3      0
1   10002     2      2   250    0    187.0      3.5      0
2   10003     3      1   204    0    172.0      1.4      2
3   10004     4      1   236    0    178.0      0.8      2
4   10005     5      0   354    0    163.0      0.6      2
5   10006     6      0   192    0    148.0      0.4      1
6   10007     7      1   294    0    153.0      1.3      1
7   10008     8      1   263    0    173.0      0.0      2
8   10009     9      2   199    1    162.0      0.5      2
9   10010    10      2   168    0    174.0      1.6      2
10  10011    11      0   239    0      NaN      1.2      2
11  10012    12      2   275    0    139.0      0.2      2
12  10013    13      1   266    0    171.0      0.6      2
13  10014    14  three   211    0    144.0      1.8      1
14  10015    15  three   283    1    162.0      1.0      2
15  10016    16      2   219    0    158.0      1.6      1
16  10017    17      2   340    0    172.0      0.0      2
17  10018    18  three   226    0    114.0      2.6      0
18  10019    19      0   247    0    171.0      1.5      2
19  10020    20  three   239    0    151.0      1.8      2

#### Merge DataFrame

In [4]:
mg_heart = pd.merge(df1, df2, on='id')
mg_heart.head(10)

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
0,10001,63.0,1,145,0,0.0,0,1,1,1,three,233,1,150.0,2.3,0
1,10002,37.0,1,130,1,0.0,0,2,1,2,2,250,0,187.0,3.5,0
2,10003,41.0,0,130,0,0.0,0,2,1,3,1,204,0,172.0,1.4,2
3,10004,56.0,1,120,1,0.0,0,2,1,4,1,236,0,178.0,0.8,2
4,10005,57.0,0,120,1,1.0,0,2,1,5,0,354,0,163.0,0.6,2
5,10006,57.0,1,140,1,0.0,0,1,1,6,0,192,0,148.0,0.4,1
6,10007,56.0,0,140,0,0.0,0,2,1,7,1,294,0,153.0,1.3,1
7,10008,44.0,1,120,1,0.0,0,3,1,8,1,263,0,173.0,0.0,2
8,10009,52.0,1,172,1,0.0,0,3,1,9,2,199,1,162.0,0.5,2
9,10010,57.0,1,150,1,0.0,0,2,1,10,2,168,0,174.0,1.6,2

#### thalach : null값 채우기(대표값 아무거나 사용 (ex.mean,median…)

In [5]:
mg_heart[mg_heart['thalach'].isnull()]

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
10,10011,54.0,1,140,1,0.0,0,2,1,11,0,239,0,NaN,1.2,2
57,10058,45.0,1,115,0,0.0,0,2,1,58,0,260,0,NaN,0.0,2
58,10059,34.0,1,118,0,0.0,0,2,1,59,three,182,0,NaN,0.0,2
59,10060,57.0,0,128,0,0.0,1,2,1,60,0,303,0,NaN,0.0,2
71,10072,51.0,1,94,1,1.0,1,3,1,72,2,227,0,NaN,0.0,2
123,10124,54.0,0,108,0,0.0,0,2,1,124,2,267,0,NaN,0.0,2
277,10278,57.0,1,124,1,0.0,0,3,0,278,1,261,0,NaN,0.3,2
283,10284,40.0,1,152,1,0.0,0,3,0,284,0,223,0,NaN,0.0,2

In [6]:
mean_thalach = mg_heart.loc[mg_heart['thalach'].notnull(), 'thalach'].mean()
mean_thalach

149.2271186440678

In [7]:
mg_heart['thalach'].fillna(mean_thalach, inplace=True)

#### cp : “three”는 3으로 코딩해야겠지?

In [8]:
mg_heart['cp'].unique()

array(['three', '2', '1', '0'], dtype=object)

In [9]:
mg_heart.loc[mg_heart['cp'].apply(lambda x : not x.isdigit()), 'cp'] = 3

In [10]:
mg_heart['cp'].unique()

array([3, '2', '1', '0'], dtype=object)

#### age : null값이 있는 column은 다 drop!

In [11]:
mg_heart[mg_heart['age'].isnull()]

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
11,10012,NaN,0,130,1,0.0,0,2,1,12,2,275,0,139.0,0.2,2
139,10140,NaN,1,128,1,1.0,1,3,1,140,0,263,0,105.0,0.2,1
176,10177,NaN,1,117,1,1.0,2,3,0,177,0,230,1,160.0,1.4,2
177,10178,NaN,1,140,1,0.0,0,2,0,178,2,335,0,158.0,0.0,2
178,10179,NaN,1,120,0,1.0,0,3,0,179,0,177,0,120.0,2.5,1
179,10180,NaN,1,150,0,1.0,1,1,0,180,0,276,0,112.0,0.6,1
180,10181,NaN,1,132,1,1.0,1,3,0,181,0,353,0,132.0,1.2,1
181,10182,NaN,0,150,0,0.0,3,3,0,182,0,225,0,114.0,1.0,1
182,10183,NaN,0,130,0,0.0,0,2,0,183,0,330,0,169.0,0.0,2
231,10232,NaN,1,165,0,0.0,3,3,0,232,0,289,1,124.0,1.0,1
238,10239,NaN,1,125,0,1.0,3,2,0,239,0,304,0,162.0,0.0,2
239,10240,NaN,1,126,0,1.0,0,3,0,240,0,282,0,156.0,0.0,2
254,10255,NaN,1,160,0,0.0,0,2,0,255,3,273,0,125.0,0.0,2
266,10267,NaN,0,180,2,1.0,0,2,0,267,0,327,0,117.0,3.4,1
267,10268,NaN,1,118,0,0.0,3,2,0,268,2,149,0,126.0,0.8,2
268,10269,NaN,1,122,0,1.0,2,2,0,269,0,286,0,116.0,3.2,1
269,10270,NaN,1,130,0,1.0,0,3,0,270,0,283,1,103.0,1.6,0
270,10271,NaN,1,120,0,0.0,0,3,0,271,0,249,0,144.0,0.8,2
284,10285,NaN,1,140,0,1.0,1,3,0,285,0,207,0,138.0,1.9,2

In [12]:
#mg_heart = mg_heart[np.isfinite(mg_heart['age'])]

# subset 을 안해주면 제대로 drop이 안됨
mg_heart.dropna(subset=['age'], inplace=True)

In [13]:
mg_heart[mg_heart['age'].isnull()]

Empty DataFrame
Columns: [id, age, sex, trestbps, restecg, exang, ca, thal, target, id_2, cp, chol, fbs, thalach, oldpeak, slope]
Index: []

In [14]:
mg_heart.head(100)

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
0,10001,63.0,1,145,0,0.0,0,1,1,1,3,233,1,150.000000,2.3,0
1,10002,37.0,1,130,1,0.0,0,2,1,2,2,250,0,187.000000,3.5,0
2,10003,41.0,0,130,0,0.0,0,2,1,3,1,204,0,172.000000,1.4,2
3,10004,56.0,1,120,1,0.0,0,2,1,4,1,236,0,178.000000,0.8,2
4,10005,57.0,0,120,1,1.0,0,2,1,5,0,354,0,163.000000,0.6,2
5,10006,57.0,1,140,1,0.0,0,1,1,6,0,192,0,148.000000,0.4,1
6,10007,56.0,0,140,0,0.0,0,2,1,7,1,294,0,153.000000,1.3,1
7,10008,44.0,1,120,1,0.0,0,3,1,8,1,263,0,173.000000,0.0,2
8,10009,52.0,1,172,1,0.0,0,3,1,9,2,199,1,162.000000,0.5,2
9,10010,57.0,1,150,1,0.0,0,2,1,10,2,168,0,174.000000,1.6,2
10,10011,54.0,1,140,1,0.0,0,2,1,11,0,239,0,149.227119,1.2,2
12,10013,49.0,1,130,1,NaN,0,2,1,13,1,266,0,171.000000,0.6,2
13,10014,64.0,1,110,0,1.0,0,2,1,14,3,211,0,144.000000,1.8,1
14,10015,58.0,0,150,0,NaN,0,2,1,15,3,283,1,162.000000,1.0,2
15,10016,50.0,0,120,1,NaN,0,2,1,16,2,219,0,158.000000,1.6,1
16,10017,58.0,0,120,1,NaN,0,2,1,17,2,340,0,172.000000,0.0,2
17,10018,66.0,0,150,1,NaN,0,2,1,18,3,226,0,114.000000,2.6,0
18,10019,43.0,1,150,1,NaN,0,2,1,19,0,247,0,171.000000,1.5,2
19,10020,69.0,0,140,1,NaN,2,2,1,20,3,239,0,151.000000,1.8,2
20,10021,59.0,1,135,1,NaN,0,3,1,21,0,234,0,161.000000,0.5,1
21,10022,44.0,1,130,1,1.0,0,2,1,22,2,233,0,179.000000,0.4,2
22,10023,42.0,1,140,1,NaN,0,2,1,23,0,226,0,178.000000,0.0,2
23,10024,61.0,1,150,1,1.0,0,2,1,24,2,243,1,137.000000,1.0,1
24,10025,40.0,1,140,1,1.0,0,3,1,25,3,199,0,178.000000,1.4,2
25,10026,71.0,0,160,1,NaN,2,2,1,26,1,302,0,162.000000,0.4,2
26,10027,59.0,1,150,1,NaN,0,2,1,27,2,212,1,157.000000,1.6,2
27,10028,51.0,1,110,1,NaN,0,2,1,28,2,175,0,123.000000,0.6,2
28,10029,65.0,0,140,0,NaN,1,2,1,29,2,417,1,157.000000,0.8,2
29,10030,53.0,1,130,0,NaN,0,2,1,30,2,197,1,152.000000,1.2,0
30,10031,41.0,0,105,1,NaN,1,2,1,31,1,198,0,168.000000,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,10072,51.0,1,94,1,1.0,1,3,1,72,2,227,0,149.227119,0.0,2
72,10073,29.0,1,130,0,0.0,0,2,1,73,1,204,0,202.000000,0.0,2
73,10074,51.0,1,140,0,1.0,0,2,1,74,0,261,0,186.000000,0.0,2
74,10075,43.0,0,122,1,0.0,0,2,1,75,2,213,0,165.000000,0.2,1
75,10076,55.0,0,135,0,0.0,0,2,1,76,1,250,0,161.000000,1.4,1
76,10077,51.0,1,125,0,0.0,0,2,1,77,2,245,1,166.000000,2.4,1
77,10078,59.0,1,140,1,1.0,0,2,1,78,1,221,0,164.000000,0.0,2
78,10079,52.0,1,128,1,0.0,0,2,1,79,1,205,1,184.000000,0.0,2
79,10080,58.0,1,105,0,1.0,0,3,1,80,2,240,0,154.000000,0.6,1
80,10081,41.0,1,112,1,0.0,0,2,1,81,2,250,0,179.000000,0.0,2
81,10082,45.0,1,128,0,0.0,0,2,1,82,1,308,0,170.000000,0.0,2
82,10083,60.0,0,102,1,0.0,1,2,1,83,2,318,0,160.000000,0.0,2
83,10084,52.0,1,152,1,0.0,0,3,1,84,3,298,1,178.000000,1.2,1
84,10085,42.0,0,102,0,0.0,0,2,1,85,0,265,0,122.000000,0.6,1
85,10086,67.0,0,115,0,0.0,0,3,1,86,2,564,0,160.000000,1.6,1
86,10087,68.0,1,118,1,0.0,1,3,1,87,2,277,0,151.000000,1.0,2
87,10088,46.0,1,101,1,0.0,0,3,1,88,1,197,1,156.000000,0.0,2
88,10089,54.0,0,110,1,0.0,0,2,1,89,2,214,0,158.000000,1.6,1
89,10090,58.0,0,100,0,0.0,0,2,1,90,0,248,0,122.000000,1.0,1
90,10091,48.0,1,124,1,0.0,2,2,1,91,2,255,1,175.000000,0.0,2
91,10092,57.0,1,132,1,1.0,0,3,1,92,0,207,0,168.000000,0.0,2
92,10093,52.0,1,138,1,0.0,4,2,1,93,2,223,0,169.000000,0.0,2
93,10094,54.0,0,132,0,1.0,1,2,1,94,1,288,1,159.000000,0.0,2
94,10095,45.0,0,112,1,0.0,0,2,1,95,1,160,0,138.000000,0.0,1
95,10096,53.0,1,142,0,1.0,0,3,1,96,0,226,0,111.000000,0.0,2
96,10097,62.0,0,140,0,0.0,0,2,1,97,0,394,0,157.000000,1.2,1
97,10098,52.0,1,108,1,0.0,3,3,1,98,0,233,1,147.000000,0.1,2
98,10099,43.0,1,130,1,0.0,1,2,1,99,2,315,0,162.000000,1.9,2
99,10100,53.0,1,130,0,0.0,3,2,1,100,2,246,1,173.000000,0.0,2
100,10101,42.0,1,148,0,0.0,2,2,1,101,3,244,0,178.000000,0.8,2

#### exang : null값은 다 0을 의미

In [15]:
mg_heart[mg_heart['exang'].isnull()]

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
12,10013,49.0,1,130,1,NaN,0,2,1,13,1,266,0,171.0,0.6,2
14,10015,58.0,0,150,0,NaN,0,2,1,15,3,283,1,162.0,1.0,2
15,10016,50.0,0,120,1,NaN,0,2,1,16,2,219,0,158.0,1.6,1
16,10017,58.0,0,120,1,NaN,0,2,1,17,2,340,0,172.0,0.0,2
17,10018,66.0,0,150,1,NaN,0,2,1,18,3,226,0,114.0,2.6,0
18,10019,43.0,1,150,1,NaN,0,2,1,19,0,247,0,171.0,1.5,2
19,10020,69.0,0,140,1,NaN,2,2,1,20,3,239,0,151.0,1.8,2
20,10021,59.0,1,135,1,NaN,0,3,1,21,0,234,0,161.0,0.5,1
22,10023,42.0,1,140,1,NaN,0,2,1,23,0,226,0,178.0,0.0,2
25,10026,71.0,0,160,1,NaN,2,2,1,26,1,302,0,162.0,0.4,2
26,10027,59.0,1,150,1,NaN,0,2,1,27,2,212,1,157.0,1.6,2
27,10028,51.0,1,110,1,NaN,0,2,1,28,2,175,0,123.0,0.6,2
28,10029,65.0,0,140,0,NaN,1,2,1,29,2,417,1,157.0,0.8,2
29,10030,53.0,1,130,0,NaN,0,2,1,30,2,197,1,152.0,1.2,0
30,10031,41.0,0,105,1,NaN,1,2,1,31,1,198,0,168.0,0.0,2
31,10032,65.0,1,120,1,NaN,0,3,1,32,0,177,0,140.0,0.4,2
32,10033,44.0,1,130,0,NaN,0,2,1,33,1,219,0,188.0,0.0,2
33,10034,54.0,1,125,0,NaN,1,2,1,34,2,273,0,152.0,0.5,0
36,10037,54.0,0,135,1,NaN,0,2,1,37,2,304,1,170.0,0.0,2
37,10038,54.0,1,150,0,NaN,0,3,1,38,2,232,0,165.0,1.6,2
38,10039,65.0,0,155,1,NaN,0,2,1,39,2,269,0,148.0,0.8,2
39,10040,65.0,0,160,0,NaN,0,2,1,40,2,360,0,151.0,0.8,2
40,10041,51.0,0,140,0,NaN,1,2,1,41,2,308,0,142.0,1.5,2
41,10042,48.0,1,130,0,NaN,0,2,1,42,1,245,0,180.0,0.2,1
43,10044,53.0,0,130,0,NaN,0,2,1,44,0,264,0,143.0,0.4,1
44,10045,39.0,1,140,0,NaN,0,2,1,45,2,321,0,182.0,0.0,2
45,10046,52.0,1,120,1,NaN,0,2,1,46,1,325,0,172.0,0.2,2
46,10047,44.0,1,140,0,NaN,0,2,1,47,2,235,0,180.0,0.0,2
47,10048,47.0,1,138,0,NaN,0,2,1,48,2,257,0,156.0,0.0,2
48,10049,53.0,0,128,0,NaN,0,0,1,49,2,216,0,115.0,0.0,2
49,10050,53.0,0,138,0,NaN,0,2,1,50,0,234,0,160.0,0.0,2
50,10051,51.0,0,130,0,NaN,0,2,1,51,2,256,0,149.0,0.5,2
51,10052,66.0,1,120,0,NaN,0,2,1,52,0,302,0,151.0,0.4,1

In [16]:
mg_heart['exang'].fillna(0.0, inplace=True)

In [17]:
mg_heart[mg_heart['exang'].isnull()]

Empty DataFrame
Columns: [id, age, sex, trestbps, restecg, exang, ca, thal, target, id_2, cp, chol, fbs, thalach, oldpeak, slope]
Index: []

In [18]:
mg_heart.head(1000)

,id,age,sex,trestbps,restecg,exang,ca,thal,target,id_2,cp,chol,fbs,thalach,oldpeak,slope
0,10001,63.0,1,145,0,0.0,0,1,1,1,3,233,1,150.000000,2.3,0
1,10002,37.0,1,130,1,0.0,0,2,1,2,2,250,0,187.000000,3.5,0
2,10003,41.0,0,130,0,0.0,0,2,1,3,1,204,0,172.000000,1.4,2
3,10004,56.0,1,120,1,0.0,0,2,1,4,1,236,0,178.000000,0.8,2
4,10005,57.0,0,120,1,1.0,0,2,1,5,0,354,0,163.000000,0.6,2
5,10006,57.0,1,140,1,0.0,0,1,1,6,0,192,0,148.000000,0.4,1
6,10007,56.0,0,140,0,0.0,0,2,1,7,1,294,0,153.000000,1.3,1
7,10008,44.0,1,120,1,0.0,0,3,1,8,1,263,0,173.000000,0.0,2
8,10009,52.0,1,172,1,0.0,0,3,1,9,2,199,1,162.000000,0.5,2
9,10010,57.0,1,150,1,0.0,0,2,1,10,2,168,0,174.000000,1.6,2
10,10011,54.0,1,140,1,0.0,0,2,1,11,0,239,0,149.227119,1.2,2
12,10013,49.0,1,130,1,0.0,0,2,1,13,1,266,0,171.000000,0.6,2
13,10014,64.0,1,110,0,1.0,0,2,1,14,3,211,0,144.000000,1.8,1
14,10015,58.0,0,150,0,0.0,0,2,1,15,3,283,1,162.000000,1.0,2
15,10016,50.0,0,120,1,0.0,0,2,1,16,2,219,0,158.000000,1.6,1
16,10017,58.0,0,120,1,0.0,0,2,1,17,2,340,0,172.000000,0.0,2
17,10018,66.0,0,150,1,0.0,0,2,1,18,3,226,0,114.000000,2.6,0
18,10019,43.0,1,150,1,0.0,0,2,1,19,0,247,0,171.000000,1.5,2
19,10020,69.0,0,140,1,0.0,2,2,1,20,3,239,0,151.000000,1.8,2
20,10021,59.0,1,135,1,0.0,0,3,1,21,0,234,0,161.000000,0.5,1
21,10022,44.0,1,130,1,1.0,0,2,1,22,2,233,0,179.000000,0.4,2
22,10023,42.0,1,140,1,0.0,0,2,1,23,0,226,0,178.000000,0.0,2
23,10024,61.0,1,150,1,1.0,0,2,1,24,2,243,1,137.000000,1.0,1
24,10025,40.0,1,140,1,1.0,0,3,1,25,3,199,0,178.000000,1.4,2
25,10026,71.0,0,160,1,0.0,2,2,1,26,1,302,0,162.000000,0.4,2
26,10027,59.0,1,150,1,0.0,0,2,1,27,2,212,1,157.000000,1.6,2
27,10028,51.0,1,110,1,0.0,0,2,1,28,2,175,0,123.000000,0.6,2
28,10029,65.0,0,140,0,0.0,1,2,1,29,2,417,1,157.000000,0.8,2
29,10030,53.0,1,130,0,0.0,0,2,1,30,2,197,1,152.000000,1.2,0
30,10031,41.0,0,105,1,0.0,1,2,1,31,1,198,0,168.000000,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,10273,67.0,1,120,1,0.0,0,2,0,273,0,237,0,71.000000,1.0,1
273,10274,58.0,1,100,1,0.0,1,3,0,274,0,234,0,156.000000,0.1,2
274,10275,47.0,1,110,0,1.0,1,2,0,275,0,275,0,118.000000,1.0,1
275,10276,52.0,1,125,1,0.0,2,3,0,276,0,212,0,168.000000,1.0,2
276,10277,58.0,1,146,1,0.0,1,3,0,277,0,218,0,105.000000,2.0,1
277,10278,57.0,1,124,1,0.0,0,3,0,278,1,261,0,149.227119,0.3,2
278,10279,58.0,0,136,0,0.0,2,2,0,279,1,319,1,152.000000,0.0,2
279,10280,61.0,1,138,0,1.0,1,2,0,280,0,166,0,125.000000,3.6,1
280,10281,42.0,1,136,1,1.0,0,1,0,281,0,315,0,125.000000,1.8,1
281,10282,52.0,1,128,1,1.0,0,0,0,282,0,204,1,156.000000,1.0,1
282,10283,59.0,1,126,1,0.0,1,1,0,283,2,218,1,134.000000,2.2,1
283,10284,40.0,1,152,1,0.0,0,3,0,284,0,223,0,149.227119,0.0,2
285,10286,46.0,1,140,1,1.0,2,3,0,286,0,311,0,120.000000,1.8,1
286,10287,59.0,1,134,1,0.0,2,2,0,287,3,204,0,162.000000,0.8,2
287,10288,57.0,1,154,0,0.0,1,2,0,288,1,232,0,164.000000,0.0,2
288,10289,57.0,1,110,1,1.0,1,3,0,289,0,335,0,143.000000,3.0,1
289,10290,55.0,0,128,2,1.0,1,3,0,290,0,205,0,130.000000,2.0,1
290,10291,61.0,1,148,1,0.0,1,3,0,291,0,203,0,161.000000,0.0,2
291,10292,58.0,1,114,2,0.0,3,1,0,292,0,318,0,140.000000,4.4,0
292,10293,58.0,0,170,0,1.0,2,1,0,293,0,225,1,146.000000,2.8,1
293,10294,67.0,1,152,0,0.0,0,3,0,294,2,212,0,150.000000,0.8,1
294,10295,44.0,1,120,1,1.0,0,1,0,295,0,169,0,144.000000,2.8,0
295,10296,63.0,1,140,0,1.0,2,3,0,296,0,187,0,144.000000,4.0,2
296,10297,63.0,0,124,1,1.0,0,2,0,297,0,197,0,136.000000,0.0,1
297,10298,59.0,1,164,0,0.0,2,1,0,298,0,176,1,90.000000,1.0,1
298,10299,57.0,0,140,1,1.0,0,3,0,299,0,241,0,123.000000,0.2,1
299,10300,45.0,1,110,1,0.0,0,3,0,300,3,264,0,132.000000,1.2,1
300,10301,68.0,1,144,1,0.0,2,3,0,301,0,193,1,141.000000,3.4,1
301,10302,57.0,1,130,1,1.0,1,3,0,302,0,131,0,115.000000,1.2,1
302,10303,57.0,0,130,0,0.0,1,2,0,303,1,236,0,174.000000,0.0,1