# San Francisco  
# Crime Classification_Multiclass

# Data fields
  Dates - timestamp of the crime incident  
  
  Category - category of the crime incident (only in train.csv).( This is the target     variable you are going to predict.)  
  
  Descript - detailed description of the crime incident (only in train.csv)  
  
  DayOfWeek - the day of the week  
  
  PdDistrict - name of the Police Department District  
  
  Resolution - how the crime incident was resolved (only in train.csv) 
  
  Address - the approximate street address of the crime incident   
  
  X - Longitude  
  
  Y - Latitude

## **IMPORT MODULES**

In [2]:
#Basic libraries
import numpy as np 
import pandas as pd
#Plots
import seaborn as sns
import matplotlib.pyplot as plt
# 노트북 안에 그래프를 그리기 위해
%matplotlib inline

# 그래프에서 격자로 숫자 범위가 눈에 잘 띄도록 ggplot 스타일을 사용하시고 싶으시다면?
# plt.style.use('ggplot')

# 추가로 필요한 모듈은 각자 필요하신대로 불러오시면 됩니다.

## **READING DATA**

In [8]:
train = pd.read_csv('data/train.csv',parse_dates=['Dates'])
test =  pd.read_csv('data/test.csv',parse_dates=['Dates'])

In [9]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [11]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [12]:
# 불러온 데이터 모양은 다음과 같습니다.
train.shape, test.shape

((878049, 9), (884262, 7))

## **PRE-PROCESSING**

1) .dt.year 이러한 형식으로 "Dates" column을 분리합니다.

2) 필요없다고 생각되는 column 지우기

3) Address column을 어떻게 가공할까?

4) string으로 된 column을 어떻게 처리할까?

## **VISUALIZATION**

## **TARGETING**

#### x / y 나누기

## **Train-Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(,, test_size = , random_state = )
x_train.shape,x_test.shape,y_train.shape,y_test.shape

## **Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler

## **Principal Component Analysis**

#### 해당 데이터에 PCA가 필요하다고 판단이 될 경우 PCA를 적용!

## **EVALUATION**

<<  log_loss(y_true, y_pred)  >>     
1>  y_true : Ground truth (correct) labels for n_samples samples.
  
2>  y_pred : Predicted probabilities,  
             as returned by a classifier’s predict_proba method.

In [ ]:
from sklearn.metrics import log_loss

## **CLASSIFICATION**

#### 수업 시간에 다루었던 여러 가지 classification 방법론들을 활용해보고  
#### LOG_LOSS 를 비교해보세요.

    ### 1) Naive_Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

    ### 2) KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

    ### 3) LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression

    ### 4) XGBOOST

In [ ]:
from xgboost import XGBClassifier

    ### 5) Neural_Network

In [ ]:
from sklearn.neural_network import MLPClassifier

    ### 6) etc...

## **Cross-validation | Grid Search**

#### Cross-validation 혹은 Grid Search를 활용하여 최적의 결과를 도출해 보세요

In [ ]:
from sklearn.model_selection import GridSearchCV

## Submission

 #### For each incident,  
 #### you must submit a set of predicted probabilities (one for every class).

Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,EXTORTION,FAMILY OFFENSES,FORGERY/COUNTERFEITING,FRAUD,GAMBLING,KIDNAPPING,LARCENY/THEFT,LIQUOR LAWS,LOITERING,MISSING PERSON,NON-CRIMINAL,OTHER OFFENSES,PORNOGRAPHY/OBSCENE MAT,PROSTITUTION,RECOVERED VEHICLE,ROBBERY,RUNAWAY,SECONDARY CODES,SEX OFFENSES FORCIBLE,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0.9,0.1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...
etc.

#### 다음과 같은 형식으로 csv파일을 만들어서 제출하세요(.to_csv)