## Practice 3-2

In [ ]:
def vowel(words) :
    count = 0
    li = ['a', 'e','i','o','u']
    for i in range(len(words)) :
        if words[i] in li : 
            count+=1

    print(count)


vowel('apples')
vowel('Hello Mobis')

## Practice 3-3

In [ ]:
def expand_rectangle(w,h) :
    a1 = w*h
    w = w+5
    h = h*2
    a2 = w*h
    
    ratio = a1/a2
    
    print('Width = {}'.format(w))
    print('Height = {}'.format(h))
    print('Area Ratio = {:.2f}'.format(ratio))
    
    
expand_rectangle(5,10)

## Practice 3-4

In [ ]:
def calculator(*int1) :
    sum1=0
    cnt=0
    for i in int1 : 
        if(i==0) : 
            break
        else : 
            sum1 += i 
            cnt+=1
            
    avg = int(sum1 / cnt)
    #print(len(int1))
    #print('({},{:.0f})'.format(sum1,avg))
    return sum1, avg

In [ ]:
calculator(-3,2,0,4,5)

In [ ]:
calculator(1,3,5,7,9)

In [ ]:
calculator(1,2,3,4,5)

## Practice 3-5

In [ ]:
def search(lst, num) : 
    try : 
        for i in range(len(lst)) : 
            if lst[i] == num :
                return i
            else:
                raise exception
    except : 
            return False

In [ ]:
mylist = [1,2,3]
search(mylist,1)

In [ ]:
search(mylist,10)

In [ ]:
mylist

## practice3 제어문 _ 예제문제1

In [ ]:
for i in range(5):
    print('*'*(i+1))

## practice3 제어문 _ 예제문제3

In [1]:
restaurant_list = [{'상호': 'A', '메뉴': '피자', '가격': 20000},
                     {'상호': 'B', '메뉴': '치킨', '가격': 18000},
                     {'상호': 'C', '메뉴': '짜장면', '가격': 5000},
                     {'상호': 'D', '메뉴': '초밥', '가격': 15000},
                     {'상호': 'E', '메뉴': '떡볶이', '가격': 8000}, 
                     {'상호': 'F', '메뉴': '족발', '가격': 30000}]
    
x = input("음식 이름 입력 : ")
n=0
for i in restaurant_list : 
    if x in i['메뉴'] : 
        print('식당 {}, 가격 {:,} 원'.format(i['상호'], i['가격']))
        n += 1
        break
        
    #elif  n <= len(restaurant_list)-1 : 
        #print(len(restaurant_list),n)
        #n += 1
if n==0 :          
    print('결과가 없습니다.')

음식 이름 입력 : 초밥
식당 D, 가격 15,000 원

## Practice 3-6

In [14]:
def search_char(words,alpabet) : 
    for i in range(len(words)) : 
#        n=0
        if words[i] == alpabet : 
            return i
#            n+=1
#            break
    #if n==0 : 
    return -1

In [15]:
search_char('python','o')

4

In [16]:
search_char('mobis','m')

0

In [17]:
search_char('바나나','나')

1

In [18]:
search_char('사과','오')

-1

## Practice 3-7

In [50]:
def reverse_text(*args) :
    odd_cnt = 0
  #  tmp_str = []
    for i in range(len(args)) : 
        if len(args[i]) % 2 == 0 : 
            #print(len(args))
            print(args[i])
        else : 
            print(args[i][::-1])
   #         tmp_str = args[::-1]
   #         print(trm_str)
            odd_cnt += 1
    
    return odd_cnt

In [51]:
reverse_text('드럼','베이스','기타','키보드','보컬')

드럼
스이베
기타
드보키
보컬

2

In [719]:
odd_cnt

NameError: name 'odd_cnt' is not defined

## Practice 3-8

In [104]:
def sort_scores(*args) : 
    tmp_lst = []
    for i in args :
        tmp_lst.append(i)
    tmp_lst.sort(reverse=True)
    
    for i in tmp_lst : 
        print(i)

In [105]:
sort_scores(100,27,65,88,47,97,74,53)

100
97
88
74
65
53
47
27

## Practice 3-9

In [720]:


def sort_by_word_length(a) : 

    
    tmp_lst = sorted(a, key=lambda f:(len(f), f), reverse=True)
    
    
    print(tmp_lst)

In [721]:
colors = ['red','blue','green','brown','gray']

In [722]:
instruments = ['피아노','바이올린','첼로','기타','드럼']

In [723]:
sort_by_word_length(colors)

['green', 'brown', 'gray', 'blue', 'red']

In [724]:
sort_by_word_length(instruments)

['바이올린', '피아노', '첼로', '드럼', '기타']

# 파일처리

In [725]:
f = open('new.txt','w')
for i in range(1,11) : 
    data = '%d 번째 줄입니다.\n' %i
    f.write(data)
    
f.close()

In [726]:
f = open('new.txt','r')

data = f.read()
print(type(data))
print(data)
f.close()

<class 'str'>
1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

In [727]:
f = open('new.txt','r')

while True : 
    line = f.readline()
    if not line : 
        break
    print(line, end='')


f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

In [728]:
f = open('new.txt','r')

#lines = f.readlines()

# 공백을 제거하고 가져오고 싶을때 
lines = f.read().split('\n')
print(lines)

for line in lines : 
    print(line, end ='')

['1 번째 줄입니다.', '2 번째 줄입니다.', '3 번째 줄입니다.', '4 번째 줄입니다.', '5 번째 줄입니다.', '6 번째 줄입니다.', '7 번째 줄입니다.', '8 번째 줄입니다.', '9 번째 줄입니다.', '10 번째 줄입니다.', '']
1 번째 줄입니다.2 번째 줄입니다.3 번째 줄입니다.4 번째 줄입니다.5 번째 줄입니다.6 번째 줄입니다.7 번째 줄입니다.8 번째 줄입니다.9 번째 줄입니다.10 번째 줄입니다.

In [729]:
f = open('new.txt','a')

for i in range(11,20) :
    data = '%d 번째 줄입니다.\n' %i
    f.write(data)

f.close()

In [730]:
eng = 'Introduction to Python'

#eng.split()
#eng.split('t',2)
#eng.rsplit('o',2)
eng.splitlines(1)

['Introduction to Python']

## Practice 4-1

In [731]:
file_name = input("파일 이름을 입력하세요 : ")
f = open(file_name,'r', encoding = 'UTF-8')

lines = f.readlines()

for i in range(len(lines)) : 
    print('{}:'.format(i+1), lines[i])

f.close()

파일 이름을 입력하세요 :

FileNotFoundError: [Errno 2] No such file or directory: ''

## Practice 4-2

In [12]:
x = int(input("숫자를 입력하세요 : "))
f = open('고향의 봄.txt','r', encoding = 'UTF-8')

lines = f.readlines()

for i in range(0,x) : 
    print(lines[i])

f.close()

숫자를 입력하세요 : 4
======= 고향의 봄 =======



나의 살-던 고향은 꽃피는-산골-

복숭아-꽃 살-구꽃 아-기 진-달래-

## Practice 4-3

In [14]:
x = int(input("시작 숫자를 입력하세요 : "))
y = int(input("끝 숫자를 입력하세요 : "))
f = open('고향의 봄.txt','r', encoding = 'UTF-8')

lines = f.readlines()

for i in range(x-1,y) : 
    print(lines[i])

f.close()

시작 숫자를 입력하세요 : 3
끝 숫자를 입력하세요 : 6
나의 살-던 고향은 꽃피는-산골-

복숭아-꽃 살-구꽃 아-기 진-달래-

울긋불-긋 꽃 대궐 차리인-동네-

그 속에서 놀던 때가 그립습니다-

## Practice 4-4

In [202]:
with open('pitcher_stats.txt', mode ='r') as f : 
    
    data = f.read().splitlines()
    print(data)
    
    for i in range(len(data)) :
    
        print(data[i])
        
        data[i] = data[i].split('/',-1)
        data[i][1] = int(data[i][1])
        data[i][2] = int(data[i][2])
        data[i][3] = float(data[i][3])
        
    
           
    print(data)

['Kershaw/18/4/2.31', 'Jansen/5/0/1.32', 'Wood/16/3/2.27', 'Hill/12/8/3.32']
Kershaw/18/4/2.31
Jansen/5/0/1.32
Wood/16/3/2.27
Hill/12/8/3.32
[['Kershaw', 18, 4, 2.31], ['Jansen', 5, 0, 1.32], ['Wood', 16, 3, 2.27], ['Hill', 12, 8, 3.32]]

## Practice 4-5

In [210]:
with open('zen.txt', mode='r') as f : 
    
    data = f.read().split('. ')
    

#    with open('zen_of_python.txt', mode='w') as f2 : 
#        for i in range(len(data)) : 
#            f2.write(data[i])
#            f2.write('.\n')
 
    data2 = '.\n'.join(data)
    #print('.\n'.join(data))
    f= open('zen_of,_python2.txt','w')
    f.write(data2)
    
    f.close()

## practice4_함수_예제문제 1

In [159]:
test_case = [
    {'이름': 'Alice', '출석' : 100, '과제': 70, '시험':60 },
    {'이름': 'Bob', '출석' : 80, '과제': 90, '시험':90 },
    {'이름': 'Chris', '출석' : 60, '과제': '-', '시험':50 },
    {'이름': 'Denis', '출석' : 70, '과제': 100, '시험':100},
    {'이름': 'Eddy', '출석' : 30, '과제': '-', '시험':10 },
    {'이름': 'Fred', '출석' : 100, '과제': 100, '시험':100 }]



def calc_score(student_list) : 
    return_list = []
    for i in range(len(student_list)) :
        
            
        if(student_list[i]['출석']=='-') : 
            student_list[i]['출석'] = 0 

        if(student_list[i]['과제']=='-') : 
            student_list[i]['과제'] = 0 
        
        if(student_list[i]['시험']=='-') : 
            student_list[i]['시험'] = 0 
            
        name = student_list[i]['이름']
        total_s = student_list[i]['출석']*0.1 + student_list[i]['과제']*0.6 + student_list[i]['시험']*0.3
        
        #튜플로 저장
        std_tuple = (name,total_s)
        
        return_list.append(std_tuple)

    print(return_list)
       # print(student_list[i]['이름'], student_list[i]['출석']*0.1 + student_list[i]['과제']*0.6 + student_list[i]['시험']*0.3)

In [160]:
calc_score(test_case)

[('Alice', 70.0), ('Bob', 89.0), ('Chris', 21.0), ('Denis', 97.0), ('Eddy', 6.0), ('Fred', 100.0)]

## practice4_함수_예제문제 2

In [476]:
test_case = [ 
    {'이름' : 'Alice', '최종성적' : 70.0 },
    {'이름' : 'Bob', '최종성적' : 89.0 },
    {'이름' : 'Chris', '최종성적' : 21.0 },
    {'이름' : 'Denis', '최종성적' : 97.0 },
    {'이름' : 'Eddy', '최종성적' : 6.0 },
    {'이름' : 'Fred', '최종성적' : 100.0 }]

def get_top_three(student_list) :
    tmp_list = []
    
    for i in range(len(student_list)) : 
        tmp_list.append(student_list[i]['최종성적'])
        tmp_list.sort(reverse=True)
        
    return_list = tmp_list[:3]
    
    return return_list

In [477]:
get_top_three(test_case)

[100.0, 97.0, 89.0]

## practice5_파일처리_예제문제1

In [284]:
f = open('sonagi.txt','r', encoding ='UTF-8')
lines = f.readlines()
#print(lines)
#print(type(lines))
f.close()


def match_words(words, bool) : 
    line_cnt = 0
    word_cnt = 0
    #word_sum = 0
    if bool == True :
        for i in range(len(lines)) : 
            #print(lines[i])
            if words in lines[i] : 
                line_cnt +=1
        return line_cnt
        
    else : 
        for i in range(len(lines)) :
            word_cnt += lines[i].count(words)
            #word_sum += word_cnt
        return word_cnt
                       
    if word_cnt==0 or line_cnt ==0 :
                       return 0

In [285]:
match_words('하광수',False)

3

## practice5_파일처리_예제문제2

In [478]:
f = open('subway.txt', 'r', encoding='UTF-8')
lines = f.readlines()
#print(lines)
f.close()

subway_data = []
col_data = ['날짜','요일','구분','7','8','9','10','11']



for i in range(1,len(lines)) : 
    
    row_data = lines[i].split(',')
    subway_data.append(dict(zip(col_data,row_data)))

In [479]:
for i in range(len(subway_data)) : 
    if subway_data[i]['요일'] == '일' : 
        print(subway_data[i])

{'날짜': '2', '요일': '일', '구분': '승차', '7': '676', '8': '877', '9': '1225', '10': '1360', '11': '1803\n'}
{'날짜': '2', '요일': '일', '구분': '하차', '7': '875', '8': '1736', '9': '3304', '10': '2808', '11': '3422\n'}
{'날짜': '9', '요일': '일', '구분': '승차', '7': '673', '8': '904', '9': '1191', '10': '1459', '11': '1968\n'}
{'날짜': '9', '요일': '일', '구분': '하차', '7': '902', '8': '1787', '9': '3219', '10': '2986', '11': '3201\n'}
{'날짜': '16', '요일': '일', '구분': '승차', '7': '860', '8': '852', '9': '1225', '10': '1268', '11': '1820\n'}
{'날짜': '16', '요일': '일', '구분': '하차', '7': '1008', '8': '1949', '9': '3221', '10': '3009', '11': '3248\n'}
{'날짜': '23', '요일': '일', '구분': '승차', '7': '629', '8': '949', '9': '1125', '10': '1417', '11': '1852\n'}
{'날짜': '23', '요일': '일', '구분': '하차', '7': '897', '8': '1872', '9': '3184', '10': '2910', '11': '3275\n'}
{'날짜': '30', '요일': '일', '구분': '승차', '7': '667', '8': '865', '9': '1243', '10': '1454', '11': '1910\n'}
{'날짜': '30', '요일': '일', '구분': '하차', '7': '989', '8': '2015', '9': '3205', '10': '2765', '11': '3083\n'}

In [390]:
for i in range(len(subway_data)) : 
    if int(subway_data[i]['10']) > 2400 and int(subway_data[i]['11']) > 2400 : 
        print('10시 : {:,}, 11시: {:,}'.format(int(subway_data[i]['10']),int(subway_data[i]['11'])))

10시 : 6,241, 11시: 5,786
10시 : 2,808, 11시: 3,422
10시 : 2,425, 11시: 3,026
10시 : 6,651, 11시: 4,799
10시 : 6,687, 11시: 4,934
10시 : 6,482, 11시: 4,828
10시 : 6,539, 11시: 5,081
10시 : 2,452, 11시: 3,552
10시 : 6,485, 11시: 5,384
10시 : 6,441, 11시: 6,163
10시 : 2,986, 11시: 3,201
10시 : 6,650, 11시: 4,733
10시 : 2,428, 11시: 3,141
10시 : 6,176, 11시: 5,240
10시 : 2,497, 11시: 3,236
10시 : 6,524, 11시: 5,176
10시 : 6,494, 11시: 5,210
10시 : 6,388, 11시: 5,240
10시 : 6,430, 11시: 5,784
10시 : 3,009, 11시: 3,248
10시 : 6,425, 11시: 4,618
10시 : 6,436, 11시: 5,036
10시 : 6,594, 11시: 4,743
10시 : 6,583, 11시: 4,780
10시 : 2,472, 11시: 3,000
10시 : 6,778, 11시: 5,225
10시 : 6,317, 11시: 5,810
10시 : 2,910, 11시: 3,275
10시 : 6,501, 11시: 4,873
10시 : 6,270, 11시: 5,097
10시 : 2,434, 11시: 3,109
10시 : 6,218, 11시: 4,921
10시 : 2,456, 11시: 3,124
10시 : 6,364, 11시: 4,949
10시 : 2,514, 11시: 3,231
10시 : 7,859, 11시: 5,336
10시 : 6,259, 11시: 5,941
10시 : 2,765, 11시: 3,083

## practice5_파일처리 예제문제 3

In [471]:
f = open('iris.txt','r')
lines = f.readlines()
f.close()

col_data = lines[0].split(',')
row_data = []
data_set =[]

for i in range(1,len(lines)) : 
    row_data = lines[i].split(',')
    data_set.append(dict(zip(col_data,row_data)))
    

print(col_data)
print(data_set[0])
print(data_set[0][' species\n'])

def avg_seplen(speices_in) : 
    n = 0
    seplen_sum = 0.0
    avg = 0.0
    if speices_in == 'setosa': 
        for i in range(len(data_set)) : 
            if data_set[i][' species\n'] == 'setosa\n' : 
                seplen_sum += float(data_set[i]['sepal length'])
                n += 1
                
        avg = seplen_sum / n
                
        return format(avg,'.2f')
    
    elif speices_in == 'versicolor': 
        for i in range(len(data_set)) : 
            if data_set[i][' species\n'] == 'versicolor\n' : 
                seplen_sum += float(data_set[i]['sepal length'])
                n += 1
                
        avg = seplen_sum / n
                
        return format(avg,'.2f')
    
    
    elif speices_in == 'virginica': 
        for i in range(len(data_set)) : 
            if data_set[i][' species\n'] == 'virginica\n' : 
                seplen_sum += float(data_set[i]['sepal length'])
                n += 1
                
        avg = seplen_sum / n
                
        return format(avg,'.2f')
                
                
    else : 
        print("적절하지 않은 입력이 주어졌습니다.")
        return 0

['sepal length', ' sepal width', ' petal length', ' petal width', ' species\n']
{'sepal length': '5.5', ' sepal width': '3.5', ' petal length': '1.3', ' petal width': '0.2', ' species\n': 'setosa\n'}
setosa

In [472]:
avg_seplen('setosa')

'5.01'

In [473]:
avg_seplen('versicolor')

'5.94'

In [474]:
avg_seplen('virginica')

'6.59'

In [475]:
avg_seplen('dasd')

적절하지 않은 입력이 주어졌습니다.

0

# 모듈과 패키지

## practice 5-1

In [494]:
class FourCal : 
    def setdata(self, first, second) : 
        self.first = first
        self.second = second
        
    def sum(self) : 
        result = self.first + self.second
        return result
    
    def mul(self) : 
        result = self.first*self.second
        return result
    
    def sub(self) : 
        result = self.first-self.second
        return result
    
    def div(self) : 
        result = self.first/self.second
        return result

In [499]:
a = FourCal()

In [500]:
b = FourCal()

In [501]:
a.setdata(4,2)

In [502]:
b.setdata(3,7)

In [503]:
a.sum()

6

In [504]:
a.div()

2.0

In [505]:
b.mul()

21

In [506]:
b.sub()

-4

## Practice 6-1

In [519]:
class staff :
    
    # init 함수가 여러개 있을 경우 호출받을 시의 매개변수의 개수에 맞는 함수로 실행
    def __init__(self) : 
    def __init__(self,bonus,aaaaa)
    
    def __init__(self,bonus) : 
        
        self.bonus = bonus      
    
    def salary(self) : 
        total = self.bonus + 100000
        return total

In [520]:
kim = staff(50000)
kim.salary()

150000

In [521]:
lee = staff(30000)
lee.salary()

130000

## Practice 5-1

In [599]:
from collections import Counter

L = [1,1,7,7,7,4,4,4,2,1,5,5,9,11,3,'a','x',9,8,'b','b','a','b']

counts= Counter(L)

print(counts.keys())

for i in counts.keys() : 
    if counts[i] >= 3 : 
        print(i)


#for i in range(len(counts)):
#    if counts[i] >= 3 :
#        print(counts)

dict_keys([1, 7, 4, 2, 5, 9, 11, 3, 'a', 'x', 8, 'b'])
1
7
4
b

## Practice 5-2

In [597]:
import itertools

chr1 = ['A','E','I','O','U']
chr2 = ['a','A','b','B','c','C','d','D','e','E']
chr3 = [2,3]
chr4 = [1,3,5]


tt=0
for i in itertools.product(chr1,chr2,chr3,chr4) : 
    tt += 1
print(tt)

300

## Class 연습

In [ ]:
개와 고양이

## practice6_모듈패키지클래스_예제문제1

In [732]:
from random import randint

class SimpleRPG : 
    
    def __init__ (self, given_id, given_job) : 
        self.given_id = given_id
        self.given_job = given_job
        self.level = 1
        self.exp = 0
        
    def __str__(self) : 
        return '{} 의 직업은 {} 입니다'.format(self.given_id, self.given_job)
        
    def train(self) : 
        self.exp += randint(1,20)
        print('현재 경험치 : ', self.exp)
        if self.exp >= 100 : 
            self.level +=1
            print('현재 레벨 : ',self.level)
            print('레벨업!')
            self.exp = 0

In [733]:
test_player1 = SimpleRPG('Sue','전사')
test_player1.train()
print(test_player1)

현재 경험치 :  5
Sue 의 직업은 전사 입니다

In [734]:
test_player1.train()

현재 경험치 :  6

In [735]:
test_player2 = SimpleRPG('Hee','마법사')
for i in range(15) : 
    test_player2.train()

현재 경험치 :  7
현재 경험치 :  13
현재 경험치 :  19
현재 경험치 :  21
현재 경험치 :  24
현재 경험치 :  25
현재 경험치 :  26
현재 경험치 :  35
현재 경험치 :  36
현재 경험치 :  54
현재 경험치 :  63
현재 경험치 :  64
현재 경험치 :  77
현재 경험치 :  87
현재 경험치 :  98

In [736]:
print(test_player2)

Hee 의 직업은 마법사 입니다